script(type="text/javascript" src="https://www.gstatic.com/charts/loader.js")
script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
script(type="text/javascript", src="https://s.codepen.io/assets/libs/modernizr.js")
link(rel="stylesheet" href="/css/main.css")
