# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# PRIVATE INFO and SECURITY

# keys directory
.ssh/

# device list
devices.json

# DB Credentials
db-creds.json
db-creds-txt
