html
  head
    title= title
    script(type="text/javascript" src="https://www.gstatic.com/charts/loader.js")
    script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(type="text/javascript", src="https://s.codepen.io/assets/libs/modernizr.js")
    script(type="text/javascript" src="/js/chart.js")
    link(rel="stylesheet" href="/css/main.css")
  body
    h1= message
    
    form
      select(name="device")
        each device, index in devices
          option(value=index)= device.name + " ( " + device.ip + " )"
          
      select(name="chart_type", id="chart_type")
        each chart, index in charts
          option(value=index)= index
          
      button(id="refresh") Refresh
      
    include includes/loader.pug
          
    #chart_div
          
