html
  head
    title= title
    include includes/libs.pug
    script(type="text/javascript" src="/js/chart.js")
  body
    h1= message
    
    form
      select(name="device")
        each device, index in devices
          option(value=index)= device.name + " ( " + device.ip + " )"
          
      select(name="chart_type", id="chart_type")
        each chart, index in charts
          option(value=index)= index
          
      button(id="refresh") Refresh
      
    include includes/loader.pug
          
    #chart_div
          
